In [2]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup 
from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [36]:
#initialising driver
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [38]:
# creating empty lists for scraping data
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [39]:
#scraping the name
name=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr[1]/td[2]/a')
for i in name:
    name=i.text
    Name.append(name)

Name[0:4]

['Baby Shark Dance', 'Pinkfong']

In [40]:
artist=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr[1]/td[3]/a')
for i in artist:
    artist=i.text
    Artist.append(artist)
Artist[0:4]

['Pinkfong']

In [42]:
date=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr[1]/td[5]')
for i in date:
    date=i.text
    Upload_date.append(date)
Upload_date[0:4]

['June 17, 2016', 'November 2, 2020']

In [43]:
view=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr[1]/td[4]')
for i in view:
    view=i.text
    Views.append(view)
Views[0:4]

['8.09', 'June 17, 2016']

In [44]:
print(len(Name),len(Artist),len(Upload_date),len(Views))

2 1 2 2

2. Scrape the details team Indiaâ€™s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [48]:
#initialising driver
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get('https://www.bcci.tv/')

In [50]:
#to click on drop down menu
button = driver.find_element_by_xpath('//button[@class="navigation__header-button menu-button js-navigation-menu-button"]')
button.click()

In [9]:
#to select international option
int_button=driver.find_element_by_xpath('//div[@class="navigation__link navigation__link--has-drop-down js-navigation-link drop-down-open"]')
int_button.click()

In [10]:
#to select fixtures option
fixt_button=driver.find_element_by_xpath('//a[@class="navigation__link navigation__link--in-drop-down"]')
fixt_button.click()

In [11]:
# creating empty lists for scraping data
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [12]:
#scraping the match title
title=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
for i in title:
    title=i.text
    Match_title.append(title)

Match_title[0:4]

['1st T20I', '2nd T20I', '3rd T20I', '4th T20I']

In [13]:
#scraping the series
series=driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__format"]')
for i in series:
    series=i.text
    Series.append(series)

Series[0:4]

['T20I', 'T20I', 'T20I', 'T20I']

In [14]:
#scraping the place
place=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
for i in place:
    place=i.text
    Place.append(place)

Place[0:4]

['Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad']

In [15]:
#scraping the date
date=driver.find_elements_by_xpath('//span[@class="fixture__datetime tablet-only"]/strong')
for i in date:
    date=i.text
    Date.append(date)

Date[0:4]

['Friday 12 March', 'Sunday 14 March', 'Tuesday 16 March', 'Thursday 18 March']

In [16]:
#scraping the time
time=driver.find_elements_by_xpath('//span[@class="fixture__datetime tablet-only"]')
for i in time:
    time=i.text
    Time.append(time)

Time[0:4]

['Friday 12 March 19:00 IST',
 'Sunday 14 March 19:00 IST',
 'Tuesday 16 March 19:00 IST',
 'Thursday 18 March 19:00 IST']

In [17]:
print(len(Match_title),len(Series),len(Place),len(Date),len(Time))

13 13 13 13 13

In [20]:
df=pd.DataFrame({"Match_title":Match_title[0:13],"Series":Series[0:13],"Place":Place[0:13],"Time":Time[0:13],
                "Date":Date[0:13]})
df

,Match_title,Series,Place,Time,Date
0,1st T20I,T20I,"Narendra Modi Stadium, Ahmedabad",Friday 12 March 19:00 IST,Friday 12 March
1,2nd T20I,T20I,"Narendra Modi Stadium, Ahmedabad",Sunday 14 March 19:00 IST,Sunday 14 March
2,3rd T20I,T20I,"Narendra Modi Stadium, Ahmedabad",Tuesday 16 March 19:00 IST,Tuesday 16 March
3,4th T20I,T20I,"Narendra Modi Stadium, Ahmedabad",Thursday 18 March 19:00 IST,Thursday 18 March
4,5th T20I,T20I,"Narendra Modi Stadium, Ahmedabad",Saturday 20 March 19:00 IST,Saturday 20 March
5,1st ODI,ODI,"Maharashtra Cricket Association Stadium, Pune",Tuesday 23 March 13:30 IST,Tuesday 23 March
6,2nd ODI,ODI,"Maharashtra Cricket Association Stadium, Pune",Friday 26 March 13:30 IST,Friday 26 March
7,3rd ODI,ODI,"Maharashtra Cricket Association Stadium, Pune",Sunday 28 March 13:30 IST,Sunday 28 March
8,1st Test,TEST,"Trent Bridge, Nottingham",Wednesday 4 August 15:30 IST,Wednesday 4 August
9,2nd Test,TEST,"Lord's, London",Thursday 12 August 15:30 IST,Thursday 12 August
10,3rd Test,TEST,"Headingley, Leeds",Wednesday 25 August 15:30 IST,Wednesday 25 August
11,4th Test,TEST,"The Oval, London",Thursday 2 September 15:30 IST,Thursday 2 September
12,5th Test,TEST,"Old Trafford, Manchester",Friday 10 September 15:30 IST,Friday 10 September

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [2]:
#initialising driver
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get('https://www.guru99.com/')

In [3]:
#select selenium from tutorial library
sel=driver.find_element_by_xpath('//li[@class="fa fa-chevron-circle-right"]/a')
sel.click()

In [6]:
#for searching selenium exception handling
search=driver.find_element_by_xpath('//div[@class="span12"]/table[5]/tbody/tr[34]')
search.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class="span12"]/table[5]/tbody/tr[34]"}
  (Session info: chrome=88.0.4324.190)

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [7]:
#initialising driver
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get('http://statisticstimes.com/ ')

In [58]:
#to select economy drop down menu
button = driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/button')
button.click()

In [59]:
#to select india
button2 = driver.find_element_by_xpath('//div[@class="dropdown-content"]/a[3]')
button.click()

In [60]:
#to select GDP of Indian states
gdp_but = driver.find_element_by_xpath('//a[@class="ec"]')
gdp_but.click()

In [10]:
GDP = {}
GDP['state'] = []
GDP['GSDP_19-20'] = []
GDP['GSDP_18-19'] = []
GDP['share 2017'] = []
GDP['gdp'] = []

In [11]:
# state
st = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]')
for d in st:
    GDP['state'].append(d.text)

# gsdp 19-20
gsdp_1 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]')
for n in gsdp_1:
    GDP['GSDP_19-20'].append(n.text)
    
# gsdp 18-19
gsdp_2 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]')
for m in gsdp_2:
    GDP['GSDP_18-19'].append(m.text)
    
# Share 17
share= driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]')
for s in share:
    GDP['share 2017'].append(s.text)

# gdp
gd= driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[6]')
for l in gd:
    GDP['gdp'].append(l.text)
    
    
GDP = pd.DataFrame(GDP)
GDP

                        state GSDP_19-20 GSDP_18-19 share 2017      gdp
0                 Maharashtra          -  2,632,792     13.88%  398.145
1                  Tamil Nadu  1,845,853  1,630,208      8.59%  246.529
2               Uttar Pradesh  1,687,818  1,584,764      8.35%  239.656
3                     Gujarat          -  1,502,899      7.92%  227.276
4                   Karnataka  1,631,977  1,493,127      7.87%  225.798
5                 West Bengal  1,253,832  1,089,898      5.75%  164.820
6                   Rajasthan  1,020,989    942,586      4.97%  142.543
7              Andhra Pradesh    972,782    862,957      4.55%  130.501
8                   Telangana    969,604    861,031      4.54%  130.210
9              Madhya Pradesh    906,672    809,592      4.27%  122.431
10                     Kerala          -    781,653      4.12%  118.206
11                      Delhi    856,112    774,870      4.08%  117.180
12                    Haryana    831,610    734,163      3.87%  111.024
13                      Bihar    611,804    530,363      2.80%   80.204
14                     Punjab    574,760    526,376      2.77%   79.601
15                     Odisha    521,275    487,805      2.57%   73.768
16                      Assam          -    315,881      1.67%   47.769
17               Chhattisgarh    329,180    304,063      1.60%   45.982
18                  Jharkhand    328,598    297,204      1.57%   44.945
19                Uttarakhand          -    245,895      1.30%   37.186
20            Jammu & Kashmir          -    155,956      0.82%   23.584
21           Himachal Pradesh    165,472    153,845      0.81%   23.265
22                        Goa     80,449     73,170      0.39%   11.065
23                    Tripura     55,984     49,845      0.26%    7.538
24                 Chandigarh          -     42,114      0.22%    6.369
25                 Puducherry     38,253     34,433      0.18%    5.207
26                  Meghalaya     36,572     33,481      0.18%    5.063
27                     Sikkim     32,496     28,723      0.15%    4.344
28                    Manipur     31,790     27,870      0.15%    4.215
29                   Nagaland          -     27,283      0.14%    4.126
30          Arunachal Pradesh          -     24,603      0.13%    3.721
31                    Mizoram     26,503     22,287      0.12%    3.370
32  Andaman & Nicobar Islands          -          -          -        -

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [22]:
#initialising driver
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get(' https://github.com/ ')

In [24]:
#to select trending repository on explore from main menu
button = driver.find_element_by_xpath('//button[@class="btn-link d-lg-none mt-1 js-details-target"]')
button.click()

In [25]:
expl=driver.find_element_by_xpath('//summary[@class="HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block"]')
expl.click()

In [26]:
trend=driver.find_element_by_xpath('//ul[@class="list-style-none mb-3"]/li[3]')
expl.click()

In [27]:
# creating empty lists for scraping data
Repository=[]
Title=[]
Description=[]
Contributors=[]

In [28]:
#scraping the repository
rep=driver.find_elements_by_xpath('//span[@class="text-normal"]')
for i in rep:
    rep=i.text
    Repository.append(rep)

Repository[0:4]

['getzola /', 'dolthub /', 'nushell /', 'torvalds /']

In [29]:
#scraping the title
tit=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')
for i in tit:
    tit=i.text
    Title.append(tit)

Title[0:4]

['getzola / zola', 'dolthub / dolt', 'nushell / nushell', 'torvalds / linux']

In [30]:
#scraping the description
desc=driver.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]')
for i in desc:
    desc=i.text
    Description.append(desc)

Description[0:4]

['A fast static site generator in a single binary with everything built-in. https://www.getzola.org',
 "Dolt â€“ It's Git for Data",
 'A new type of shell',
 'Linux kernel source tree']

In [31]:
#scraping the contributors
cont=driver.find_elements_by_xpath('//a[@class="muted-link d-inline-block mr-3"]')
for i in cont:
    cont=i.text
    Contributors.append(cont)

Contributors[0:4]

['5,617', '444', '4,895', '125']

In [32]:
print(len(Repository),len(Title),len(Description),len(Contributors))

25 25 24 50

In [33]:
df=pd.DataFrame({"Repository":Repository[0:20],"Title":Title[0:20],"Description":Description[0:20],"Contributors":Contributors[0:20]})
df

,Repository,Title,Description,Contributors
0,getzola /,getzola / zola,A fast static site generator in a single binar...,"5,617"
1,dolthub /,dolthub / dolt,Dolt â€“ It's Git for Data,444
2,nushell /,nushell / nushell,A new type of shell,"4,895"
3,torvalds /,torvalds / linux,Linux kernel source tree,125
4,openai /,openai / CLIP,Contrastive Language-Image Pretraining,"9,775"
5,coolsnowwolf /,coolsnowwolf / lede,Lean's OpenWrt source,520
6,jhu-ep-coursera /,jhu-ep-coursera / fullstack-course4,"Example code for HTML, CSS, and Javascript for...","106,257"
7,sherlock-project /,sherlock-project / sherlock,ðŸ”Ž Hunt down social media accounts by username ...,"36,046"
8,git /,git / git,Git Source Code Mirror - This is a publish-onl...,"2,535"
9,projectdiscovery /,projectdiscovery / nuclei-templates,Community curated list of templates for the nu...,222
10,dwisiswant0 /,dwisiswant0 / apkleaks,"Scanning APK file for URIs, endpoints & secrets.","15,255"
11,SmartThingsCommunity /,SmartThingsCommunity / SmartThingsPublic,SmartThings open-source DeviceTypeHandlers and...,"13,242"
12,microsoft /,microsoft / CSS-Exchange,Exchange Server support tools and scripts,"4,967"
13,nodegui /,nodegui / svelte-nodegui,"Build performant, native and cross-platform de...","7,862"
14,thunlp /,thunlp / GNNPapers,Must-read papers on graph neural networks (GNN),"21,025"
15,TheAlgorithms /,TheAlgorithms / Javascript,A repository for All algorithms implemented in...,"2,157"
16,flutter /,flutter / flutter,Flutter makes it easy and fast to build beauti...,"36,834"
17,qmk /,qmk / qmk_firmware,Open-source keyboard firmware for Atmel AVR an...,"21,045"
18,enaqx /,enaqx / awesome-react,A collection of awesome things regarding React...,"1,039"
19,microsoft /,microsoft / vscode,Visual Studio Code,384

6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billiboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [34]:
#initialising driver
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get(' https://www.billiboard.com/  ')

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [54]:
#initialising driver
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get(' https://www.naukri.com/  ')

In [36]:
#to select recruiters menu
button = driver.find_element_by_xpath('//div[@class="mTxt"]')
button.click()

In [38]:
#entering datascience in search field
search_field_designation=driver.find_element_by_xpath('//div[@class="inpWrap"]/input')
search_field_designation.send_keys("Data science")

In [ ]:
# clicking the search button
search_button=driver.find_element_by_xpath('//div[@class="sugCont false"]/button')
search_button.click()

In [55]:
# creating empty lists for scraping data
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

In [59]:
#scraping the name
nam=driver.find_elements_by_xpath('//a[@class="ellipsis"]/span')
for i in nam:
    nam=i.text
    Name.append(nam)

Name[0:4]

[]

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [60]:
#initialising driver
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get('  https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/  ')

In [62]:
# clicking the just list button
search_button=driver.find_element_by_xpath('//div[@class="stand-first-alone"]/a')
search_button.click()

In [65]:
# creating empty lists for scraping data
Book={}
Book['Book_name']=[]
Book['Author']=[]
Book['Volume_sold']=[]
Book['Publisher']=[]
Book['Genre']=[]

In [67]:
# book name
name = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for d in name:
    Book['Book_name'].append(d.text)

# author
author = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for n in author:
    Book['Author'].append(n.text)
    
# vol sold
vol_sold = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for m in vol_sold:
    Book['Volume_sold'].append(m.text)
    
# publisher
publ= driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for s in publ:
    Book['Publisher'].append(s.text)

# genre
genre= driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for l in genre:
    Book['Genre'].append(l.text)
    
    
Book = pd.DataFrame(Book)
Book

,Book_name,Author,Volume_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
195,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
196,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
197,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
198,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
199,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [2]:
#initialising driver
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get(' https://www.imdb.com/list/ls095964455/  ')

In [4]:
# creating empty lists for scraping data
Name=[]
Year_span=[]
Genre=[]
Runtime=[]
Rating=[]
Votes=[]

In [17]:
#scraping the name
name=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in name:
    name=i.text
    Name.append(name)

Name[0:4]

['Game of Thrones', 'Stranger Things', 'The Walking Dead', '13 Reasons Why']

In [5]:
#scraping the year span
year=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[2]')
for i in year:
    year=i.text
    Year_span.append(year)

Year_span[0:4]

['(2011â€“2019)', '(2016â€“ )', '(2010â€“ )', '(2017â€“2020)']

In [7]:
#scraping the genre
genr=driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[5]')
for i in genr:
    genr=i.text
    Genre.append(genr)

Genre[0:4]

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller']

In [8]:
#scraping the runtime
time=driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[3]')
for i in time:
    time=i.text
    Runtime.append(time)

Runtime[0:4]

['57 min', '51 min', '44 min', '60 min']

In [9]:
#scraping the rating
rtng=driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')
for i in rtng:
    rtng=i.text
    Rating.append(rtng)

Rating[0:4]

['9.3', '8.7', '8.2', '7.6']

In [14]:
#scraping the votes
vot=driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[2]')
for i in vot:
    vot=i.text
    Votes.append(vot)

Votes[0:4]

['|', '1,779,004', '|', '829,500']

In [18]:
print(len(Name),len(Year_span),len(Genre),len(Runtime),len(Rating),len(Votes))

100 100 100 100 100 600

In [19]:
df=pd.DataFrame({"Name":Name[0:100],"Year_span":Year_span[0:100],"Genre":Genre[0:100],"Runtime":Runtime[0:100],"Rating":Rating[0:100],"Votes":Votes[0:100]})
df

,Name,Year_span,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011â€“2019),"Action, Adventure, Drama",57 min,9.3,|
1,Stranger Things,(2016â€“ ),"Drama, Fantasy, Horror",51 min,8.7,"1,779,004"
2,The Walking Dead,(2010â€“ ),"Drama, Horror, Thriller",44 min,8.2,|
3,13 Reasons Why,(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.6,"829,500"
4,The 100,(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,7.6,|
...,...,...,...,...,...,...
95,Reign,(2013â€“2017),"Drama, Fantasy",42 min,7.5,"204,532"
96,A Series of Unfortunate Events,(2017â€“2019),"Adventure, Comedy, Drama",50 min,7.8,|
97,Criminal Minds,(2005â€“2020),"Crime, Drama, Mystery",42 min,8.1,"193,441"
98,Scream: The TV Series,(2015â€“2019),"Crime, Drama, Horror",45 min,7.2,|
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"200,543"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [3]:
#initialising driver
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get(' https://archive.ics.uci.edu/   ')

In [5]:
# Fetching urls of repositories coming on 1st page
urls = []
urls = driver.find_elements_by_xpath('//span[@class="normal"]')
for url in urls:
    urls.append(url.get_attribute("href"))

AttributeError: 'NoneType' object has no attribute 'get_attribute'